.venv/
venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

.ipynb_checkpoints/

*.log
*.tmp
*.bak
*.swp

.idea/
.vscode/

.cache/
*.sqlite3

.env
*.env

.DS_Store
Thumbs.db

!.pre-commit-config.yaml
!.github/
